<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <% include ../views/templates/head.html %>
</head>
<body>

<!-- Start of Header -->
<% include ../views/templates/header-wrapper.html %>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<% include ../views/templates/search-area-wrapper.html %>
<!-- End of Search Wrapper -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <div class="span8 page-content">

                <article class="type-page hentry clearfix">

                    <h1 class="post-title">亲子活动</h1>

                    <hr>

                    <h3>活动类型</h3>

                    <ul class="tabs-nav">
                        <li class="active" style=""><a href="#">网络会员活动</a></li>
                        <li><a href="#">社区亲子活动</a></li>
                        <li><a href="#">商家合作活动</a></li>
                    </ul>

                    <div class="tabs-container">
                        <div class="tab-content">辣妈们只要成为网站会员，就可以体验和宝宝在一起的亲子活动了，每次活动都是和宝宝在一起的拉近亲子关系的机会呢！</div>
                        <div class="tab-content">社区里的辣妈们，赶快带上宝爸和宝宝一起出游吧！让宝宝感受亲情的温暖！</div>
                        <div class="tab-content">本论坛会与大量商家合作举行有意义的亲子体验活动哦！赶快报名吧！</div>
                    </div>

                    <h3>会员活动</h3>
                    <dl class="accordion clearfix">
                        <dt><span></span>[活动召集] 【小野人】7月17日下午 地质博物馆寻宝去！</dt>
                        <dd>精美的石头会唱歌吗？你会识别真假水晶吗？你知道地震时候如何躲避吗？凶猛的火山下面隐藏着什么样的秘密？岩石、花岗岩以及各种宝石你都认识吗？宝石都很硬吗？是玻璃硬还是钢铁硬呢？你知道什么是化石吗？它是怎么形成的？……在地质博物馆里，我们一起听听地球的故事！<br/>本期知识点：<br/>

                            了解地震、火山的原理<br/>

                            认识岩石，了解我们的山川河流<br/>

                            一起去探秘矿石和神秘的水晶<br/>

                            发现宝石：钻石、玛瑙、红宝石与绿宝石<br/>

                            从化石开始听听地球生物的故事<br/>【活动时间】2016年7月17日  下午：14：00——15：30<br/>

                            【课程地点】北京地质博物馆<br/>

                            【建议年龄】6岁以上<br/>

                            【人数限制】15个家庭<br/>

                            【课程费用】<br/>

                            85元/一大一小（不含门票）<br/>

                            成人门票30元，儿童门票15元<br/>

                            【人数限制】15组家庭（保证授课效果）<br/>

                            【费用包含】参观门票、课程讲解费用、活动组织费、现场材料费用，精美礼品<br/>

                            【联系电话】13801271202 高兴妈</dd>

                        <dt><span></span>[活动召集] 【小野人】8月6日、13日《熊猫奇侠传》带娃看一场有意义的儿童剧吧！[北京]</dt>
                        <dd>《熊猫奇侠传》绝不是一部简单的舞台剧，它以“每个人都可以成为自己的英雄”为中心理念，透过熊猫阿星的故事鼓励当代学生青年，只要努力坚持梦想就一定能成功！剧中的熊猫阿星其实是个大小孩，这样一来小朋友和年轻的观众们都会对这个角色产生共鸣。来带宝宝看一场有意义的剧场吧!<br/>演出日期：2016年8月6日、8月13日<br/>

                            演出时间：每周六 上午10:30<br/>

                            演出时长：70分钟<br/>

                            演出剧目：《熊猫奇侠传》<br/>

                            演出地点：崇文工人文化宫 红剧场<br/>

                            具体地址：东城区幸福大街44号<br/>

                            取票方式：凭手机号码和姓名 在演出当天的9:20-10:30之前取票，座位顺序按照订单顺序出票。<br/>


                            福利：9:30-9:40之间到场，有和剧中人物免费合影的机会。<br/>

                            备注：该剧院不设停车场，尽量乘公共交通前往。</dd>

                        <dt><span></span>[活动召集] 【小野人】8月20、27日 《白雪公主》儿童剧精彩上演[北京] </dt>
                        <dd>很久很久以前在一个遥远的城堡，大雪纷飞的时候诞生了一位可爱的小公主，她有雪一样白的皮肤，血一样鲜红的嘴唇，乌檀木一样漆黑的头发，这就是美丽善良的白雪公主。可是白雪公主出生后不久，她的亲生母亲就去世了，国王迎娶了一位新皇后。但是这个新皇后充满了邪恶与嫉妒，她有一面魔法镜子，每日都会询问谁是世界上最美丽的女人。毫无疑问白雪公主成为了这个世界上最美丽的女人，恶毒的皇后要将她杀死??<br/>演出日期：2016年8月20日、8月27日<br/>

                            演出时间：每周六 上午10:30<br/>

                            演出时长：70分钟<br/>

                            演出剧目：《白雪公主》<br/>

                            演出地点：崇文工人文化宫 红剧场<br/>

                            具体地址：东城区幸福大街44号<br/>

                            取票方式：凭手机号码和姓名 在演出当天的9:20-10:30之前取票，座位顺序按照订单顺序出票。<br/>

                            福利：9:30-9:40之间到场，有和剧中人物免费合影的机会。<br/>

                            备注：该剧院不设停车场，尽量乘公共交通前往。</dd>
                    </dl>

                    <h3>社区活动</h3>
                    <dl class="toggle clearfix">
                        <dt><span></span>[活动分享] 社区活动明星宝宝</dt>
                        <dd>小野人亲子网携手安奈儿童装“八大智能进社区”活动，涌现出了众多小明星们，现在让我们一睹风采吧！</dd>

                        <dt><span></span>[活动分享] 2017年5月20日小野人亲子网携手安奈儿童装八大智能金社区活动第一站风林绿洲站-满屹</dt>
                        <dd>2017年5月20日辣妈网携手安奈儿童装八大智能金社区活动第一站风林绿洲站，离家超近，好活动参加去。 </dd>

                        <dt><span></span>[线上活动] 【抢楼活动】10月17日鸟巢儿童体验中心盖楼抢票开始喽! </dt>
                        <dd>鸟巢儿童体验中心为感谢小野人网站各位粑粑麻麻们对鸟巢奥运体验师活动以及体验中心的关注和支持, 特与小野人网联合进行“鸟巢儿童体验中心体验券盖楼抢票活动”,欢迎3—12岁的家长及儿童积极参与！机会难得哦！

                            鸟巢儿童体验中心将于今年10月31日歇业，明年4月开始继续运营！想带孩子去鸟巢儿童体验中心体验的粑粑麻麻们赶紧行动吧！</dd>
                    </dl>

                    <h3>辣妈的评论</h3>
                    <blockquote>
                        <p>辣妈论坛的亲子体验活动生动活泼，拉近我和孩子的心灵距离，我感谢辣妈论坛！</p>
                    </blockquote>

                    <h3>消息</h3>

                    <p class="error">2106年7月9日，社区辣妈们一起带宝宝去锦辉购物商城2楼的宝宝渡口一起玩海洋球，大家都很开心，宝宝们的体能得到了锻炼！</p>

                    <p class="success">2106年6月9日，社区辣妈们一起带宝宝去锦辉购物商城2楼的宝宝渡口一起玩海洋球，大家都很开心，宝宝们的体能得到了锻炼！</p>

                    <p class="info">2106年5月9日，社区辣妈们一起带宝宝去锦辉购物商城2楼的宝宝渡口一起玩海洋球，大家都很开心，宝宝们的体能得到了锻炼！</p>

                    <p class="notice">2106年4月9日，社区辣妈们一起带宝宝去锦辉购物商城2楼的宝宝渡口一起玩海洋球，大家都很开心，宝宝们的体能得到了锻炼！</p>


                </article>
            </div>
            <% include ../views/templates/sidebar.html %>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<% include ../views/templates/footer.html %>

<% include ../views/templates/scripts.html %>

</body>
</html>