<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <% include ../views/templates/head.html %>
</head>
<body>

<!-- Start of Header -->
<% include ../views/templates/header-wrapper.html %>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<% include ../views/templates/search-area-wrapper.html %>
<!-- End of Search Wrapper -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <div class="span8 page-content">

                <!-- Basic Home Page Template -->


                <div class="row home-listing-area">
                    <div class="span8">
                        <h2>母婴用品</h2>
                    </div>
                </div>

                <div class="row separator">

                    <section class="span4 articles-list">
                        <h3><a href="single.html">食品类</a> <span>(4)</span></h3>
                        <ul class="articles">
                            <li>
                                <h4>全球购 【今日半价】美国l'il Critters小熊补充水果蔬菜软糖60粒（海外版）</h4>
                                <span class="article-meta"><img src="images/buy_img1.jpg" width="353" height="355"><br/>今日半价 ：￥69.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>（单件仅37元）日本直邮 包税和光堂Wakodo高钙高铁混合婴儿磨牙饼干78g/袋*4（7个月以上）（海外版） </h4>
                                <span class="article-meta"><img src="images/buy_img3.jpg" width="353" height="355"><br/>麦乐购价：￥149.00 </span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>（单件仅48元）日本直邮 包税角屋纯黑芝麻酱120g/瓶*2（9个月以上）（海外版） </h4>
                                <span class="article-meta"><img src="images/buy_img4.jpg" width="353" height="355"><br/>麦乐购价：￥95.00 </span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>

                        </ul>
                    </section>

                    <section class="span4 articles-list">
                        <h3><a href="single.html">玩具类</a> <span>(4)</span></h3>
                        <ul class="articles">
                            <li>
                                <h4>全球购 【激发音乐潜能】美国B.Toys大嘴猫录音电子琴（海外版） </h4>
                                <span class="article-meta"><img src="images/buy_img5.jpg" width="353" height="355"><br/>麦乐购价:￥329.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>【开发大脑】美国怀乐（HUAILE）40片百变提拉积木磁力片</h4>
                                <span class="article-meta"><img src="images/buy_img6.jpg" width="353" height="355"><br/>特 卖 价 ：￥118.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>【启蒙开发智力】德国Hape益智积木（12个月以上）80粒</h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img7.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥159.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>

                        </ul>
                    </section>

                </div>

                <div class="row separator">

                    <section class="span4 articles-list">
                        <h3><a href="single.html">孕妈必备</a> <span>(4)</span></h3>
                        <ul class="articles">
                            <li>
                                <h4>全球购 【淡化妊娠纹】美国Palmer’s孕妇按摩多效修复精华油 淡化祛除妊娠纹150ml（海外版） </h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img8.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥145.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>【柔软舒适】神豆Simdoo一次性防溢乳垫超薄舒爽型100片</h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img9.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥58.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>【让您轻松待产】日本三洋DACCO待产包（内裤L码） </h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img10.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥259.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>

                        </ul>
                    </section>

                    <section class="span4 articles-list">

                        <h3><a href="single.html">服饰</a> <span>(4)</span></h3>
                        <ul class="articles">
                            <li>
                                <h4>麦西西wheatbaby女婴童宝宝T恤+短裙套装玩转夏季 </h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img11.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥150.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>花笙糖时尚印花花朵短裙 </h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img12.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥50.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>
                            <li>
                                <h4>添香新生婴儿宝宝15件套礼盒装 四季款蓝色 21001 </h4>
                                                                                <span class="article-meta"><img
                                                                                        src="images/buy_img13.jpg"
                                                                                        width="353" height="355"><br/>麦乐购价
￥165.00</span><br/>
                                <span class="like-count"><img src="images/buy_img2.jpg" width="181" height="52"></span>
                            </li>

                        </ul>
                    </section>

                </div>


            </div>
            <% include ../views/templates/sidebar.html %>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<% include ../views/templates/footer.html %>

<% include ../views/templates/scripts.html %>

</body>
</html>