<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <% include ../views/templates/head.html %>
</head>
<body>

<!-- Start of Header -->
<% include ../views/templates/header-wrapper.html %>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<% include ../views/templates/search-area-wrapper.html %>
<!-- End of Search Wrapper -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <div class="span8 page-content">

                <article class=" page type-page hentry clearfix">
                    <h1 class="post-title"><a href="#">常见问题</a></h1>
                    <hr>
                    <p>对于辣妈帮，您肯定会有很多问题想咨询我们吧！我们列举出了辣妈们最关心的问题如下：</p>
                </article>

                <div class="faqs clearfix">

                    <article class="faq-item active">
                        <span class="faq-icon"></span>
                        <h3 class="faq-question">
                            <a href="#">辣妈论坛是消费性的网站吗？我们可以免费注册吗？</a>
                        </h3>
                        <div class="faq-answer">
                            <p>辣妈论坛从成立起，从来没有向辣妈们要过1分钱的，绝对免费注册哦！</p>
                            <p>原因如下：</p>
                            <ul>
                                <li><a title="WordPress" href="http://codex.wordpress.org/WordPress">帮主自己本身就是个辣妈，我们会坚持为辣妈们免费服务的！</a></li>
                                <li><a title="WordPress Semantics" href="http://codex.wordpress.org/WordPress_Semantics">辣妈论坛主要是针对辣妈开设的，是以服务为宗旨的。</a></li>
                                <li><a title="About WordPress" href="http://codex.wordpress.org/About_WordPress">辣妈论坛受到了广大辣妈朋友的支持，帮主很感动呢！</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="faq-item">
                        <span class="faq-icon"></span>
                        <h3 class="faq-question">
                            <a href="#">辣妈论坛的育儿知识可靠吗？</a>
                        </h3>
                        <div class="faq-answer">
                            <p>辣妈论坛的育儿知识是我们从育儿书籍中提取的，是有科学根据，是可靠的。</p>

                        </div>
                    </article>

                    <article class="faq-item">
                        <span class="faq-icon"></span>
                        <h3 class="faq-question">
                            <a href="#">辣妈只有注册和登录网站之后，才可以发表帖子，回复帖子吗？</a>
                        </h3>
                        <div class="faq-answer" style="display: none;">
                            <p>辣妈注册，登录自己的信息之后，就可以发表自己的帖子，也可以回复别人的帖子了。</p>

                        </div>
                    </article>

                    <article class="faq-item">
                        <span class="faq-icon"></span>
                        <h3 class="faq-question">
                            <a href="#">辣妈论坛对注册人员有要求吗？</a>
                        </h3>
                        <div class="faq-answer">
                            <p>辣妈论坛针对的是辣妈开设的哦，当然萌宝爸爸来注册我们也很欢迎的哦！</p>
                        </div>
                    </article>

                    <article class="faq-item">
                        <span class="faq-icon"></span>
                        <h3 class="faq-question">
                            <a href="#">辣妈发过的帖子怎么样成为精华帖子呢？</a>
                        </h3>
                        <div class="faq-answer">
                            <p>辣妈发过的帖子，只有帮主加精华了之后才能升级为精华帖子哦！</p>
                        </div>
                    </article>

                    <article class="faq-item">
                        <span class="faq-icon"></span>
                        <h3 class="faq-question">
                            <a href="#">辣妈论坛的辣妈可以自己建立新的帮派吗？</a>
                        </h3>
                        <div class="faq-answer">
                            <p>当然可以了，我们每个注册过的辣妈都可以自己建立帮派的啊！</p>
                        </div>
                    </article>
                </div>

            </div>

            <% include ../views/templates/sidebar.html %>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<% include ../views/templates/footer.html %>

<% include ../views/templates/scripts.html %>

</body>
</html>