<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <% include ../views/templates/head.html %>
</head>
<body>

<!-- Start of Header -->
<% include ../views/templates/header-wrapper.html %>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<% include ../views/templates/search-area-wrapper.html %>
<!-- End of Search Wrapper -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <div class="span8 main-listing">

                <article class="format-standard type-post hentry clearfix">

                    <header class="clearfix">

                        <h3 class="post-title">
                            <a href="single.html">我的资料</a>
                        </h3>

                        <div class="post-meta clearfix">
                            <span class="date">2014,02,20</span>
                            <span class="category"><a href="#" title="View all posts in Server &amp; Database">个人中心</a></span>
                            <span class="comments"><a href="#"
                                                      title="Comment on Integrating WordPress with Your Website">3
                                个人浏览</a></span>
                            <span class="like-count">66</span>
                        </div>
                        <!-- end of post meta -->

                    </header>

                    <p>我是一个80后辣妈，我的宝宝今年15个月啦，是个男孩，他很活泼可爱哟~<a class="readmore-link"
                                                             href="http://knowledgebase.inspirythemes.com/integrating-wordpress-with-your-website/">更多内容</a>
                    </p>

                </article>

                <article class="format-standard type-post hentry clearfix">

                    <header class="clearfix">

                        <h3 class="post-title">
                            <a href="single.html">我发过的帖子</a>
                        </h3>

                        <div class="post-meta clearfix">
                            <span class="date">2016,05,07</span>
                            <span class="category"><a href="#"
                                                      title="View all posts in Advanced Techniques">育儿知识</a></span>
                            <span class="comments"><a href="#" title="Comment on Using Javascript">0 人回复</a></span>
                            <span class="like-count">18</span>
                        </div>
                        <!-- end of post meta -->

                    </header>

                    <p>【孕期去胎毒】胎毒是什么？该怎么预防和清胎毒？<a class="readmore-link"
                                                 href="http://knowledgebase.inspirythemes.com/using-javascript/">更多内容</a>
                    </p>

                </article>

                <article class=" type-post format-image hentry clearfix">

                    <header class="clearfix">

                        <h3 class="post-title">
                            <a href="single.html">照片</a>
                        </h3>

                        <div class="post-meta clearfix">
                            <span class="date">2016,05,02</span>
                            <span class="category"><a href="#" title="View all posts in Designing in WordPress">宝贝萌照</a></span>
                            <span class="comments"><a href="#" title="Comment on Using Images">0 人回复</a></span>
                            <span class="like-count">7</span>
                        </div>
                        <!-- end of post meta -->

                    </header>

                    <a href="#" title="Using Images"><img width="770" height="501"
                                                          src="images/temp/living-room-770x501.png"
                                                          class="attachment-std-thumbnail wp-post-image"
                                                          alt="Living room"></a>

                    <p>2015年我的宝贝出生了，我从此不管是吃饭还是逛街，上班，甚至睡觉心里面想的全是他，他从此成了我生命中最重要的人！<a class="readmore-link"
                                                                                   href="http://knowledgebase.inspirythemes.com/using-images/">更多内容</a>
                    </p>

                </article>

                <article class="type-post  format-video hentry clearfix">

                    <header class="clearfix">

                        <h3 class="post-title">
                            <a href="single.html">视频</a>
                        </h3>

                        <div class="post-meta clearfix">
                            <span class="date">2015,04,15</span>
                            <span class="category"><a href="#"
                                                      title="View all posts in WordPress Plugins">最爱的宝贝</a></span>

                            <span class="comments"><a href="#" title="Comment on Using Video">0 人回复</a></span>

                            <span class="like-count">7</span>
                        </div>
                        <!-- end of post meta -->

                    </header>
                    <div class="post-video">
                        <div class="video-wrapper">
                            <iframe src="http://player.vimeo.com/video/24535181" width="500" height="281"
                                    frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>

                    <p>萌宝贝刚出生时候摆的造型，好可爱啊！<a class="readmore-link"
                                            href="http://knowledgebase.inspirythemes.com/using-video/">更多内容</a></p>

                </article>

                <article class=" type-post  format-standard hentry clearfix">

                    <header class="clearfix">

                        <h3 class="post-title">
                            <a href="single.html">我评论过的帖子</a>
                        </h3>

                        <div class="post-meta clearfix">
                            <span class="date">2016,02,21</span>
                            <span class="category"><a href="#" title="View all posts in Website Dev">育儿知识</a></span>

                            <span class="comments"><a href="#" title="Comment on WordPress Site Maintenance">0
                                人回复</a></span>

                            <span class="like-count">15</span>
                        </div>
                        <!-- end of post meta -->

                    </header>

                    <p>孩子体重超标，可以用控制饮食的方式帮助孩子减肥吗？ <a class="readmore-link"
                                                    href="http://knowledgebase.inspirythemes.com/wordpress-site-maintenance/">更多内容</a>
                    </p>

                </article>

                <div id="pagination">
                    <a href="#" class="btn active">1</a>
                    <a href="#" class="btn">2</a>
                    <a href="#" class="btn">3</a>
                    <a href="#" class="btn">下一页 »</a>
                    <a href="#" class="btn">上一页 »</a>
                </div>

            </div>
            <% include ../views/templates/sidebar.html %>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<% include ../views/templates/footer.html %>

<% include ../views/templates/scripts.html %>

</body>
</html>