<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>辣妈论坛</title>

                <link rel="shortcut icon" href="images/favicon.png" />


                

                <!-- Style Sheet-->
                 <link rel='stylesheet' id='bootstrap-css-css'  href='css/bootstrap5152.css' />
                <link rel='stylesheet' id='responsive-css-css'  href='css/responsive5152.css' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css' />
                <link rel='stylesheet' id='main-css-css'  href='css/main5152.css' />
                <link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html' />
                <link href="css/style.css" rel="stylesheet" type="text/css">


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="index-2.html"  title="Knowledge Base Theme">
                                                        <img src="images/logo.png" alt="Knowledge Base Theme">
                                                </a>
                                                <span class="tag-line">http://lama.com.cn</span>
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li class="current-menu-item"><a href="index-2.html">辣妈帮</a></li>
                                                          <li><a href="menu-yuer.html">育儿知识</a></li>
                                                          <li><a href="menu-muying.html">晒宝宝</a></li>
                                                          <li><a href="menu-geren.html">个人中心</a></li>
                                                          <li><a href="menu-wenti.html">常见问题</a></li>
                                                               
                                                                <li><a href="#">登录/注册</a>
                                                                  <ul class="sub-menu">
                                                                                <li><a href="menu-denglu.html">登录</a></li>
                                                                                <li><a href="menu-zhuce.html">注册</a></li>
                                                                          
                                                                        </ul>
                                                                </li>
                                                                <li><a href="menu-lianxi.html">联系我们</a></li>
                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h3 class="search-header">欢迎你加入辣妈论坛！</h3>
                                <p class="search-tag-line">在这里你可以和其他辣妈们交流育儿经哦！请积极参与我们的讨论中哦~</p>

                                <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" />
                                        <input class="search-btn" type="submit" value="搜索" />
                                        <div id="search-error-container"></div>
                                </form>
                        </div>
                </div>
                <!-- End of Search Wrapper -->

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <ul class="breadcrumb">
                                                        <li><a href="#">辣妈之间的经验交流</a><span class="divider">/</span></li>
                                                        <li><a href="#" title="View all posts in Server &amp; Database">辣妈帮</a> <span class="divider">/</span></li>
                                                        <li class="active">非常有用</li>
                                                </ul>

                                                <article class=" type-post format-standard hentry clearfix">

                                                        <h1 class="post-title"><a href="#">【辣妈帮★日报】如何用普通食材做出高逼格大餐，菜鸟都能学会！</a></h1>

                                                        <div class="post-meta clearfix">
                                                                <span class="date">2015,05,25</span>
                                                                <span class="category"><a href="#" title="View all posts in Server &amp; Database">辣妈帮</a></span>
                                                                <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3个评论</a></span>
                                                                <span class="like-count">66</span>
                                                        </div><!-- end of post meta -->

                                                        <p>换个做法吃肘子，香酥滑口，唇齿留香！</p>

                                                        <p>好吃又好看的彩色土豆饼，都来动动手吧！</p>

                                                        <p>【创意辅食pk赛】+白菜豆腐君</p>

                                                       

                                                       

                                                        <h3>[其他] 辣妈学做菜归来！交作业喽！大家快来看呀！</h3>

                                                       

                                                        <p>今天去学习啦！真热闹啊！  谁说做菜又累又脏？今天学的都是轻松无油烟的大菜哦 过程那是相当嗨皮滴！ 关键在于那个锅啊，好贵呀，一套要七千多呀，用不起呀 ，不过真的很好啊，一起能出7、8道菜呢，无油烟啊，吼吼吼~我们大家都吃的火热朝天啊！学习的都很认真啊！好了，废话不多说了，亲们等急了吧！上图喽  </p>

                                                      

                                                        <blockquote><p>30道精选入门级家宴压轴菜 做菜就是这么简单~</p></blockquote>

                                                        <h3>时尚辣妈在家做饭~</h3>

                                                        <p><img class="alignright size-full wp-image-115" alt="Man" src="images/temp/man.png" width="250" height="250">在家做饭，是眼下的健康风尚为父母，为孩子，为爱人，为朋友在家做一顿满是爱心的饭菜，比任何山珍海味都珍贵。也许用“珍贵”二字来形容眼下浮躁的人群，不为过。其实要的不只是那顿饭，还有那忙乱准备饭菜的那个温馨过程和围坐一起的氛围，亲们，多为家人朋友做顿饭，收获的是内心的平静。</p>

                                                        <p>山阳论坛美食厨房版块会给大家提供亲自动手学习做美食的机会，美食课程满满，敬请期待，爱上厨房，爱上家！
在外寻找美食，又是我们不可缺的生活乐趣，你，我若宴遇美食，发现它，带给大家宴遇它的惊喜。</p>

                                                      

                                                        <h3>历史帖子</h3>

                                                        <p>历史上你发过了这些帖子哦！</p>

                                                        <p>每个帖子都是辣妈精心编辑的，在这里你可以找到它们了。</p>

                                                        <ol>
                                                                <li><strong>健康饮食</strong>. 健康的饮食结构让家里人吃的安心！</li>
                                                                <li><strong>充实的一天</strong>. 早晨带大宝下楼散步，晚上下班陪大宝做游戏！</li>
                                                                <li><strong>教孩子说话</strong>. 教孩子学习说话的技巧，让他们说话思路清晰明了。</li>
                                                                <li><strong>辣妈们一起去度假</strong>. 辣妈有空把孩子交给亲戚朋友，和大家一起出去散散心吧！</li>
                                                        </ol>

                                                        <p>你最喜欢的评论是哪个呢？</p>

                                                </article>

                                                <div class="like-btn">

                                                        <form id="like-it-form" action="#" method="post">
                                                                <span class="like-it ">66</span>
                                                                <input type="hidden" name="post_id" value="99">
                                                                <input type="hidden" name="action" value="like_it">
                                                        </form>

                                                        

                                                </div>

                                                <section id="comments">

                                                        <h3 id="comments-title">(3) 评论</h3>

                                                        <ol class="commentlist">

                                                                <li class="comment even thread-even depth-1" id="li-comment-2">
                                                                        <article id="comment-2">

                                                                                <a href="#">
                                                                                        <img alt="" src="http://1.gravatar.com/avatar/50a7625001317a58444a20ece817aeca?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                                                                </a>

                                                                          <div class="comment-meta">

                                                                                        <h5 class="author">
                                                                                                <cite class="fn">
                                                                                                        <a href="#" rel="external nofollow" class="url">小叮当</a>
                                                                                                </cite>
                                                                                                - <a class="comment-reply-link" href="#">回复</a>
                                                                                        </h5>

                                                                                        <p class="date">
                                                                                                <a href="#">
                                                                                                        <time datetime="2013-02-26T13:18:47+00:00">2016,02,13 1:18 pm</time>
                                                                                                </a>
                                                                                        </p>

                                                                                </div><!-- end .comment-meta -->

                                                                                <div class="comment-body">
                                                                                        <p>真是流口水啊!</p>
                                                                                      
                                                                                </div><!-- end of comment-body -->

                                                                        </article><!-- end of comment -->

                                                                        <ul class="children">

                                                                                <li class="comment byuser comment-author-saqib-sarwar bypostauthor odd alt depth-2" id="li-comment-3">
                                                                                        <article id="comment-3">

                                                                                                <a href="#">
                                                                                                        <img alt="" src="http://0.gravatar.com/avatar/2df5eab0988aa5ff219476b1d27df755?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                                                                                </a>

                                                                                          <div class="comment-meta">

                                                                                                        <h5 class="author">
                                                                                                                <cite class="fn">小美女</cite>
                                                                                                                - <a class="comment-reply-link" href="#">回复</a>
                                                                                                        </h5>

                                                                                                        <p class="date">
                                                                                                                <a href="#">
                                                                                                                        <time datetime="2013-02-26T13:20:14+00:00">2016,03,01 1:20 pm</time>
                                                                                                                </a>
                                                                                                        </p>

                                                                                                </div><!-- end .comment-meta -->

                                                                                                <div class="comment-body">
                                                                                                        <p>看着就眼馋，怎么没把做法也弄上呢。</p>
                                                                                                </div><!-- end of comment-body -->

                                                                                        </article><!-- end of comment -->

                                                                                </li>
                                                                        </ul>
                                                                </li>

                                                                <li class="comment even thread-odd thread-alt depth-1" id="li-comment-4">
                                                                        <article id="comment-4">

                                                                                <a href="#">
                                                                                        <img alt="" src="http://1.gravatar.com/avatar/50a7625001317a58444a20ece817aeca?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                                                                </a>

                                                                          <div class="comment-meta">

                                                                                        <h5 class="author">
                                                                                                <cite class="fn"><a href="#" rel="external nofollow" class="url">小叮当</a></cite>
                                                                                                - <a class="comment-reply-link" href="#">回复</a>
                                                                                        </h5>

                                                                                        <p class="date">
                                                                                                <a href="http://knowledgebase.inspirythemes.com/integrating-wordpress-with-your-website/#comment-4">
                                                                                                        <time datetime="2013-02-26T13:27:04+00:00">2016,03,02 1:27 pm</time>
                                                                                                </a>
                                                                                        </p>

                                                                                </div><!-- end .comment-meta -->

                                                                                <div class="comment-body">
                                                                                        <p>辣妈赶快教我怎么做这些美食啊！</p>
                                                                                        
                                                                                </div><!-- end of comment-body -->

                                                                        </article><!-- end of comment -->
                                                                </li>
                                                        </ol>

                                                        <div id="respond">

                                                                <h3>回复</h3>

                                                                <div class="cancel-comment-reply">
                                                                        <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>
                                                                </div>


                                                                <form action="#" method="post" id="commentform">


                                                                        <p class="comment-notes">你的电子邮箱地址不会被公开，要求部分将被标记<span class="required">*</span></p>



                                                                        <div>
                                                                                <label for="comment">内容</label>
                                                                                <textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>
                                                                        </div>

                                                                        <p class="allowed-tags">你可以用这些HTML标签和属性<small><code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>

                                                                        <div>
                                                                          <input class="btn" name="submit" type="submit" id="submit"  value="提交评论">
                                                                        </div>

                                                                </form>

                                                        </div>

                                                </section><!-- end of comments -->

                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                <section class="widget">
                                                        <div class="support-widget">
                                                                <h3 class="title">帮助中心</h3>
                                                                <p class="intro">您需要更多的帮助吗？请联系我们帮您解决更多的问题哦！</p>
                                                        </div>
                                                </section>


                                                <section class="widget">
                                                        <h3 class="title">精华帖子</h3>
                                                        <ul class="articles">
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">【宝宝怎样才能长高】宝宝长高7大秘籍，一项都不能漏~</a></h4>
                                                                                <span class="article-meta">2016,07,08 <a href="#" title="View all posts in Server &amp; Database">育儿知识</a></span>
                                                                                <span class="like-count">66</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">【月子病】新妈妈要小心预防6种月子病，月子病的治疗方法</a></h4>
                                                                                <span class="article-meta">2016,07,07 <a href="#" title="View all posts in Advanced Techniques">辣妈帮</a></span>
                                                                                <span class="like-count">18</span>
                                                                        </li>
                                                                        <li class="article-entry image">
                                                                                <h4><a href="single.html">【婴儿果汁】几种常见的果汁制作方法及果汁喂养注意事项~</a></h4>
                                                                                <span class="article-meta">2016,07,06 <a href="#" title="View all posts in Designing in WordPress">育儿知识</a></span>
                                                                                <span class="like-count">7</span>
                                                                        </li>
                                                                        <li class="article-entry video">
                                                                                <h4><a href="single.html">【宝宝爱米粉】米粉喂养全攻略，献给将要或者正在给宝宝喂米粉的麻麻们~</a></h4>
                                                                                <span class="article-meta">2016,07,05 <a href="#" title="View all posts in WordPress Plugins">育儿知识</a></span>
                                                                                <span class="like-count">7</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">【如厕训练】什么时候要开始训练宝宝大小便，如何训练宝宝摆脱尿布，独立大小便？</a></h4>
                                                                                <span class="article-meta">2016,07,04 <a href="#" title="View all posts in Website Dev">育儿知识</a></span>
                                                                                <span class="like-count">15</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">【满月发汗】月子里如何发汗？</a></h4>
                                                                                <span class="article-meta">2016,07,03 <a href="#" title="View all posts in Theme Development">辣妈帮</a></span>
                                                                                <span class="like-count">1</span>
                                                                        </li>
                                                                </ul>
                                                </section>
                                               <section class="widget"><h3 class="title">帖子分类</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">辣妈的育儿经验</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">本周最萌宝宝排行</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">宝宝们的萌照</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">辣妈们的私房菜</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">辣妈们的婆婆妈妈</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">宝爸和宝妈之间的那些事</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">辣妈帮帮忙</a></li>
                                                        </ul>
                                                </section>
                                        

                                                <section class="widget">
                                            <h3 class="title">最近的评论</h3>
                                                        <ul id="recentcomments">
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">孔雀羽毛</a> 说 <a href="#">辣妈做菜肯定好吃，因为她们都是热爱生活的人！</a></li>
                                                                <li class="recentcomments"><a href="#">火车司机</a> 说 <a href="#">我老婆就是个辣妈，我永远爱你们，我的宝宝和媳妇！</a></li>
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">苏菲</a> 说 <a href="#">家有萌宝，辣妈不得不做的好吃些，让宝贝胃口更好！</a></li>
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">易先生</a> 说 <a href="#">辣妈做菜好吃，人也长得漂亮！</a></li>
                                                        </ul>
                                                </section>

                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->

                <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">
                                <div class="row">

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">关于辣妈帮</h3>
                                                        <div class="textwidget">
                                                                <p>辣妈帮是中国领先的移动母婴生活分享平台，提供众多场景式的经验，让妈妈们通过交流、匹配、筛选，找到可以解决自身问题的答案，同时在平台中与活跃的达人妈妈们相互交流、分享经验、学习育儿，建立适合自己的新母婴生活方式。</p>
                                                               </div>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget"><h3 class="title">站内导航</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">辣妈帮</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">育儿知识</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">晒宝宝</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">个人中心</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">常见问题</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">更多</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">联系我们</a></li>
                                                        </ul>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">最新消息</h3>
                                                        <div id="twitter_update_list">
                                                                <ul>
                                                                        <li>暂时没有最新消息！</li>
                                                                </ul>
                                                        </div>
                                                       
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">本周最萌宝贝照</h3>
                                                        <div class="flickr-photos" id="basicuse">
                                                        <img src="images/lama_img1.jpg" width="270" height="282"></div>
                                                </section>
                                        </div>

                                </div>
                        </div>
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © 2013. All Rights Reserved by KnowledgeBase.</p>
                                                </div>
                                                <div class="span6">
                                                        <!-- Social Navigation -->
                                                        
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- end of #footer -->
                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='js/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='js/jflickrfeed.js'></script>
                <script type='text/javascript' src='js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='js/jquery.form.js'></script>
                <script type='text/javascript' src='js/jquery.validate.min.js'></script>
                <script type='text/javascript' src='js/custom.js'></script>

        </body>
</html>
