<!-- Start of Footer -->
<footer id="footer-wrapper">
    <div id="footer" class="container">
        <div class="row">

            <div class="span3">
                <section class="widget">
                    <h3 class="title">关于辣妈帮</h3>

                    <div class="textwidget">
                        <p>
                            辣妈帮是中国领先的移动母婴生活分享平台，提供众多场景式的经验，让妈妈们通过交流、匹配、筛选，找到可以解决自身问题的答案，同时在平台中与活跃的达人妈妈们相互交流、分享经验、学习育儿，建立适合自己的新母婴生活方式。</p>
                    </div>
                </section>
            </div>

            <div class="span3">
                <section class="widget"><h3 class="title">站内导航</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">辣妈帮</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">育儿知识</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">晒宝宝</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">个人中心</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">常见问题</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">更多</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">联系我们</a></li>
                    </ul>
                </section>
            </div>

            <div class="span3">
                <section class="widget">
                    <h3 class="title">最新消息</h3>

                    <div id="twitter_update_list">
                        <ul>
                            <li>暂时没有最新消息！</li>
                        </ul>
                    </div>

                </section>
            </div>

            <div class="span3">
                <section class="widget">
                    <h3 class="title">本周最萌宝贝照</h3>

                    <div class="flickr-photos" id="_basicuse">
                        <img src="images/lama_img1.jpg" >
                    </div>
                </section>
            </div>

        </div>
    </div>
    <!-- end of #footer -->

    <!-- Footer Bottom -->
    <div id="footer-bottom-wrapper">
        <div id="footer-bottom" class="container">
            <div class="row">
                <div class="span6">
                    <p class="copyright">
                        Copyright © 2016. All Rights Reserved by LAMA.</p>
                </div>
                <div class="span6">
                    <!-- Social Navigation -->

                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Bottom -->

</footer>
<!-- End of Footer -->

<!--Start of back to top-->
<a href="#top" id="scroll-top"></a>
<!--End of back to top-->
