<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">欢迎你加入辣妈论坛！</h3>

        <p class="search-tag-line">在这里你可以和其他辣妈们交流育儿经哦！请积极参与我们的讨论中哦~</p>

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here"
                   title="* Please enter a search term!"/>
            <input class="search-btn" type="submit" value="搜索"/>

            <div id="search-error-container"></div>
        </form>
    </div>
</div>
