<!-- start of sidebar -->
<aside class="span4 page-sidebar">

    <section class="widget">
        <div class="support-widget">
            <h3 class="title">帮助中心</h3>

            <p class="intro">您需要更多的帮助吗？请联系我们帮您解决更多的问题哦！</p>
        </div>
    </section>

    <section class="widget">
        <div class="quick-links-widget">
            <h3 class="title">快捷链接</h3>
            <ul id="menu-quick-links" class="menu clearfix">
                <li><a href="home.html">首页</a></li>
                <li><a href="menu-geren.html">个人中心</a></li>
                <li><a href="menu-wenti.html">常见问题</a></li>
                <li><a href="menu-lianxi.html">联系我们</a></li>
            </ul>
        </div>
    </section>

    <section class="widget">
        <h3 class="title">标签</h3>

        <div class="tagcloud">
            <a href="#" class="btn btn-mini">辣妈</a>
            <a href="#" class="btn btn-mini">宝宝</a>
            <a href="#" class="btn btn-mini">萌照</a>
            <a href="#" class="btn btn-mini">旅游</a>
            <a href="#" class="btn btn-mini">美食</a>
            <a href="#" class="btn btn-mini">感冒</a>
            <a href="#" class="btn btn-mini">营养</a>
            <a href="#" class="btn btn-mini">健康</a>
            <a href="#" class="btn btn-mini">经验</a>
            <a href="#" class="btn btn-mini">交流</a>
            <a href="#" class="btn btn-mini">晒图</a>
            <a href="#" class="btn btn-mini">淘气</a>
            <a href="#" class="btn btn-mini">萌语</a>
            <a href="#" class="btn btn-mini">晒吃</a>
            <a href="#" class="btn btn-mini">交通</a>
            <a href="#" class="btn btn-mini">安全</a>
            <a href="#" class="btn btn-mini">保护</a>
            <a href="#" class="btn btn-mini">呵护</a>
            <a href="#" class="btn btn-mini">成长</a>
        </div>
    </section>

</aside>
<!-- end of sidebar -->